@font-face {
  font-family: SFUIText;
  src: url(./assets/font/SFUIText-Regular.ttf);
}

/* main */
#mainContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background-color: #fafafa;
}

/* containers */
#leftContainer {
  width: 30%;
  height: 80%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #3333331f;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rightContainer {
  width: 55%;
  height: 80%;
  border: 1px solid black;
}

/* header */
#header {
  width: 85%;
  margin-top: 40px;
}

#title {
  color: #333333;
  font-size: 22px;
  font-family: SFUIText;
  width: 254px;
}
#title span {
  color: #1abc9c;
}
#subtitle {
  color: #333333;
  font-size: 16px;
  font-family: SFUIText;
}

/* form */
#formContainer {
  width: 85%;
  height: 400px;
  margin-top: 40px;
}

#formType {
  width: 100%;
  position: relative;
}

#register {
  color: #333333;
  font-size: 22px;
  font-weight: bold;
  font-family: SFUIText;
  position: absolute;
  left: 0;
  transition: left 2s;
}

#register.changed {
  color: #c4c4c4;
  font-size: 22px;
  font-weight: normal;
  font-family: SFUIText;
  position: absolute;
  left: 80%;
}

#login {
  color: #c4c4c4;
  font-size: 22px;
  font-weight: normal;
  font-family: SFUIText;
  position: absolute;
  left: 80%;
  transition: left 1.5s;
}

#login.changed {
  color: #333333;
  font-size: 22px;
  font-weight: bold;
  font-family: SFUIText;
  position: absolute;
  left: 0;
}

#dinamicBorder {
  position: absolute;
  left: 0;
  width: 95px;
  background-color: #1abc9c;
  height: 3.5px;
  border-radius: 50px;
  top: 30px;
  transition: width 1.5s;
}

#dinamicBorder.changed {
  position: absolute;
  left: 0;
  width: 58px;
  height: 3.5px;
  border-radius: 50px;
  background-color: #1abc9c;
  top: 30px;
}

/* form register */
#formRegister {
  width: 90%;
  height: 360px;
  margin: 40px auto 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.input {
  width: 100%;
  height: 35px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #3333330f;
  border: 0.20000000298023224px solid #c4c4c4;
  border-radius: 8px;
  margin: 30px 0 0;
  color: #51627f;
  font-size: 16px;
  font-family: SFUIText;
  letter-spacing: 0px;
  padding-left: 3px;
}

.select {
  width: 25%;
  height: 35px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #3333330f;
  border: 0.20000000298023224px solid #c4c4c4;
  border-radius: 8px;
  margin: 30px 2% 0 0;
  color: #51627f;
  font-size: 16px;
  font-family: SFUIText;
  letter-spacing: 0px;
  padding-left: 3px;
}

.inputNumber {
  width: 70%;
  height: 35px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #3333330f;
  border: 0.20000000298023224px solid #c4c4c4;
  border-radius: 8px;
  margin: 30px 0 0;
  color: #51627f;
  font-size: 16px;
  font-family: SFUIText;
  letter-spacing: 0px;
  padding-left: 3px;
}

#buttonRegister {
  width: 40%;
  height: 35px;
  background: #1abc9c 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #33333326;
  border-radius: 10px;
  color: white;
  border: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-family: SFUIText;
  letter-spacing: 0px;
  color: #ffffff;
}

/* form login */
#formLogin {
  width: 90%;
  height: 250px;
  margin: 40px auto 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  display: none;
}

.inputLogin {
  width: 100%;
  height: 35px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #3333330f;
  border: 0.20000000298023224px solid #c4c4c4;
  border-radius: 8px;
  margin: 15px 0 0;
  color: #51627f;
  font-size: 16px;
  font-family: SFUIText;
  letter-spacing: 0px;
  padding-left: 3px;
}

#paragraphLogin {
  margin: 8px 0;
  font-size: 16px;
  font-family: SFUIText;
}

#buttonLogin {
  width: 40%;
  height: 35px;
  background: #1abc9c 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #33333326;
  border-radius: 10px;
  color: white;
  border: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-family: SFUIText;
  letter-spacing: 0px;
  color: #ffffff;
}

/* animation fade*/
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
}

.fade-out {
  opacity: 0;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20%);
  }
}

/* footer */
#footer {
  width: 100%;
}

#copyright {
  text-align: center;
  margin-top: 40px;
  color: #333333;
  font-size: 14px;
  font-family: SFUIText;
}
